<div class="form-inline">
    <div class="form-group">
        <div class="col-md-8">
            <input class="form-control" [(ngModel)]="productName" placeholder="Название" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <input type="number" class="form-control" [(ngModel)]="productPrice" placeholder="Цена" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <button class="btn btn-default" (click)="addProduct(productName, productPrice)">Добавить</button>
        </div>
    </div>
</div>